$theme-color : #725B50;
$theme-bright : #f7f4f9;
$theme-dark : #53443E;
$theme-dark2 : #534540;
$text : rgba(0,0,0,0.8);
$text-gray : #5F5E5E;

%page-padding {
    padding : 0px 15%!important;
    @media (max-width: 991px) {
        padding: 0px 10%!important;
    }
    @media (max-width: 576px) {
        padding: 0px 15px!important;
    }
}
%posts-padding {
    @media (max-width: 991px) {
        padding: 0px 10%!important;
    }
    @media (max-width: 576px) {
        padding: 0px!important;
    }
}
%page-nav-btn {
    right : 5%;
    @media (max-width: 991px) {
        right : 3%;
    }
}
